@import "normalize.css";

/* css variables */

:root {
  --light-blue: rgb(18, 203, 255);
  --text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

body {
  min-height: 100vh;
  background: var(--light-blue);
  font-family: "Myriad Pro", sans-serif;
}

main {
  width: 800px;
  height: 700px;
  margin: 30px auto;
  color: #fff;

  & h1 {
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    font-size: 4.1em;
    margin: 0;
  }

  &div.columns {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 330px 1fr;

    & article {
      & p {
        font-size: 1.4em;
        line-height: 1.15em;
        font-weight: 400;
        font-weight: 300;
        margin-top: 0px;
        margin-bottom: 40px;
        text-shadow: var(--ar(--stext-)shadow);

        &:last-child {
          text-shadow: none;
        }

        & a {
          color: #fff;
          text-decoration: none;
          font-size: 1.3em;
          line-height: 1.3em;
        }
      }
    }

    & section {
      min-height: 400px;
      background: radial-gradient(#fff, var(--light-blue), var(--light-blue));
      position: relative;

      &.canvas {
        position: relative;
        height: 100%;
      }

      & img {
        position: absolute;
        width: 330px;
        height: 363px;
        top: 0px;
        left: 50px;
        transition: all 1.5s linear;
      }
    }
  }

  & footer {
    margin-top: 20px;

    & .dock {
      & .icons {
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 105px;

        & a {
          text-decoration: none;
          opacity: 0.6;
          transition: all 0.4s ease;
          display: inline-block;
          transform-origin: bottom;

          &:hover {
            opacity: 1;
            transform: scale(1.7);
          }
        }
      }

      & .plane {
        z-index: 1;
        margin-top: -45px;
        height: 70px;
        background: linear-gradient(rgb(158, 220, 235), rgb(176, 238, 253));
        transform: perspective(190px) rotateX(45deg) scale(0.9);
      }
    }

    & p {
      margin-top: 0;
      font-size: 1.2em;
      text-align: center;
      text-shadow: var(--text-shadow);
    }
  }
}
